.chat-view-item-container {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: stretch;
    margin-bottom: 10px;
}
.chat-view-content {
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 5px;
}
.chat-view-item-user-avatar {
    height:60px;
    border-radius: 50%;
}
