<div class="sidebar-list">
    <mat-form-field class="sidebar-list-search-form" appearance="outline">
        <mat-label>Search</mat-label>
        <input [(ngModel)]="keyword" (ngModelChange)="filterItems()" matInput>
        <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
    <app-sidebar-group-item *ngFor="let group of filteredGroups" [group]="group" (click)="onGroupClicked(group)" >
    </app-sidebar-group-item>
    <app-sidebar-conversation-item *ngFor="let conversation of filteredConversations" [conversation]="conversation" (click)="onConversationClicked(conversation)">
    </app-sidebar-conversation-item>
</div>