<mat-card class="sidebar-list">
    <mat-form-field class="sidebar-list-search-form" appearance="outline">
        <mat-label>Search</mat-label>
        <input matInput>
        <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
    <app-sidebar-group-item *ngFor="let group of groups" [group]="group" (click)="onGroupClicked(group)" >
    </app-sidebar-group-item>
    <app-sidebar-conversation-item *ngFor="let conversation of conversations" [conversation]="conversation" (click)="onConversationClicked(conversation)">
    </app-sidebar-conversation-item>
</mat-card>