<mat-card class="sidebar-list">
    <mat-form-field class="sidebar-list-search-form" appearance="outline">
        <mat-label>Search</mat-label>
        <input matInput>
        <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
    <mat-card class="sidebar-item" *ngFor="let group of groups" (click)="onGroupClicked(group)">
        <img class="sidebar-item-photo" src="{{group.photo.standardEmailPhotoUrl}}">
        <div class="sidebar-item-details">
            <h4>{{group.name}}</h4>
            <p>Owner: {{group.owner.name}}</p> 
            <p>Member: {{group.memberCount}}</p> 
        </div>  
    </mat-card>
    <mat-card class="sidebar-item" *ngFor="let conversation of conversations" (click)="onConversationClicked(conversation)">
        <img class="sidebar-item-photo" src="{{getConversationImage(conversation)}}">
    </mat-card>
</mat-card>