.chat-composer-container {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}
.chat-composer-form {
    width: 100%;
}
.chat-composer-textarea {
    resize: none;
}
/deep/ .chat-composer-container .mat-form-field-wrapper {
    padding-bottom: 0px;
    margin: 0px;
}