<app-page-header [title]="title"></app-page-header>
<mat-sidenav-container class="sidenav-container">
    <mat-sidenav mode="side" opened>
        <app-sidebar-list [groups]="groups" (groupClickEvent)="onGroupSelected($event)">
        </app-sidebar-list>
    </mat-sidenav>
    <mat-sidenav-content class="sidenav-content-container">
        <app-feed-composer (feedPostEvent)="onFeedPost($event)">
        </app-feed-composer>
        <app-feed-view [feeds]="feeds" (commentPostEvent)="onCommentPostEvent($event)">
        </app-feed-view>
    </mat-sidenav-content>
    <mat-sidenav position="end" class="left-sidebar" mode="side" closed>
    </mat-sidenav>
</mat-sidenav-container>
